<!DOCTYPE html>
<html>
    <head>
        <title>Friend or Fraud</title>
        <link rel="stylesheet" href="style/skeleton.css" type="text/css">
        <link rel="stylesheet" href="style/style.css" type="text/css">
        
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/angularfire//dist/angularfire.js"></script>

    </head>
    <body ng-app="app">
       <div class="container main" ng-controller="MainController">
          <div ng-if="!onMobile">
           <div class="row">
               <h1>Welcome!</h1>
               <h2>This is your Game ID: <span class="highlight">{{gameID}}</span></h2>
           </div>

           <div class="players row">
               <div class="two columns offset-by-one" ng-repeat="player in players">
                   <div class="circle" ng-class="{'pink' : player.color == 'pink', 'blue' : player.color == 'blue', 'green' : player.color == 'green'}"></div>
                   <p>{{player.name}}</p>
               </div>

           </div>
           </div>
           <div ng-if="onMobile">
               <h1>Welcome</h1>
               <p>Enter your Game ID below:</p>
               <input type="text">
               <button>Connect</button>
           </div>
        </div>
        
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main-controller.js"></script>
    </body>
</html>
