$pink: #FC2768;
$blue: #5674b9;
$green: #39b54a;

body{
    background: #eee;
    font-family: sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    color: #333;
    margin: 0;
}

.main{padding: 50px 0;}

h1{
    font-size: 8em;
    margin-top: 50px;
}

.players{
    margin-top:50px;
}

.player{
    display:inline-block;
}

.circle{
    width:70px;
    height:70px;
    border-radius:50%;
    font-size:20px;
    text-align:center;
    display: inline-block;
    margin: 0 12px;
    position: relative;
    img{
        position: absolute;
        left: -10px;
        top: -14px;
    }
}

.big-circle{
    width:150px;
    height:150px;
    border-radius:50%;
    font-size:20px;
    text-align:center;
    background: #005b7f;
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
    -ms-transform: rotate(32deg); /* IE 9 */
    -webkit-transform: rotate(32deg); /* Chrome, Safari, Opera */
    transform: rotate(32deg);
    p{
        width: 74px;
        padding-top: 46px;
        padding-left: 36px;
    }
}

.blue{
    background: $blue;
}
.blue-text{
    color: $blue;
}
.pink{
    background:$pink;
}
.pink-text{
    color:$pink;
}
.green{
    background:$green;
    color:$green;
}
.green-text{
    color:$green;
}

li{
    list-style: none;
    &:first-child button{
       background-color: #39b54a;
    }
    &:nth-child(2) button{
        background-color: #00a99d;
    }
    &:nth-child(3) button{
        background-color: #f26d7d;
    }
    &:nth-child(4) button{
        background-color: #f68e56;
    }
}
