$pink: #FC2768;
$blue: #5674b9;
$green: #39b54a;
$red: #c61f1f;

$mobile: 750px;
$tablet: 970px;
$desktop: 1170px;

body{
    background: #eee;
    font-family: sans-serif;
    text-align: center;
    font-size: 24px;
    @media(max-width: $tablet){
      font-size: 12px;
    }
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    color: #333;
    margin: 0;
}
h3{
    margin-bottom: 20px;
    .currentPlayerColor{
        color: pink;
    }
}
p{
    color: #646464;
}

.main{padding: 50px 0;}

h1{
    font-size: 4em;
    margin-top: 50px;
}

.players{
    margin-top:50px;
}

.player{
    display:inline-block;
}

.circle{
    width:70px;
    height:70px;
    border-radius:50%;
    font-size:20px;
    text-align:center;
    display: inline-block;
    margin: 0 12px;
    position: relative;
    img{
        position: absolute;
        left: -10px;
        top: -14px;
    }
}

.small-circle{
    width:30px;
    height:30px;
    border-radius:50%;
    font-size:20px;
    text-align:center;
    display: inline-block;
    margin: 0 12px;
    position: relative;
}

.big-circle{
  @media(min-width:$tablet){display:block}
    display: none;
    width:150px;
    height:150px;
    border-radius:50%;
    font-size:20px;
    text-align:center;
    background: #005b7f;
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
    -ms-transform: rotate(32deg); /* IE 9 */
    -webkit-transform: rotate(32deg); /* Chrome, Safari, Opera */
    transform: rotate(32deg);
    p{
        width: 74px;
        padding-top: 46px;
        padding-left: 36px;
    }
}

.blue{
    background: $blue;
}
.blue-text{
    color: $blue;
}
.pink{
    background:$pink;
}
.pink-text{
    color:$pink;
}
.green{
    background:$green;
}
.green-text{
    color:$green;
}
.red{
  background-color:$red;
}
.red-text{
  color:$red;
}

li{
    position: relative;
    list-style: none;
    button{
        position: relative;
    }

    button.wrong:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.3);
        transition: all 1s;
        -webkit-transition: all 1s;
        z-index: 100;
    }

    &:first-child button{
       background-color: #39b54a;
    }

    &:nth-child(2) button{
        background-color: #00a99d;
    }
    &:nth-child(3) button{
        background-color: #f26d7d;
    }
    &:nth-child(4) button{
        background-color: #f68e56;
    }
    button{
        width: 250px;
        color: white;
        font-size: 20px;
    }
}

.mobile{
    font-size: 2em;
  button, input{
    width: 80%;
    display: block;
    margin: 10px auto;
  }
}

.ready-button{
  width: 300px;
  height: 300px;
  color: white;
  background: $red;
  border-radius :50%;
  margin: 0 auto;
  max-width: 100%;
  font-size: 3em;
  font-weight: bold;
  border: 2px solid darken($red, 5);
  &:active{
    background-color: darken($red, 5);
    border: 2px solid darken($red, 10);
  }
  p{
    margin-top:30%;
    color: white;
  }
}

