body {
  background: #eee;
  font-family: sans-serif;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333;
  margin: 0; }

h1 {
  font-size: 8em; }

.highlight {
  color: #fc2768; }

.players {
  margin-top: 50px; }

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 500px;
  text-align: center;
  display: inline-block; }

.blue {
  background: #5674b9; }

.pink {
  background: #FC2768; }

.green {
  background: #39b54a; }
