/* Values from Bootstrap */
/* Color Variables */
/* Generate .color and .color-text for each color in the list */
.pink {
  background-color: #FC2768; }

.pink-text {
  color: #FC2768; }

.blue {
  background-color: #5674b9; }

.blue-text {
  color: #5674b9; }

.green {
  background-color: #39b54a; }

.green-text {
  color: #39b54a; }

.red {
  background-color: #c61f1f; }

.red-text {
  color: #c61f1f; }

.orange {
  background-color: #f68e56; }

.orange-text {
  color: #f68e56; }

/* Styling */
body {
  background: #eee;
  font-family: sans-serif;
  text-align: center;
  font-size: 24px; }
  @media (max-width: 970px) {
    body {
      font-size: 12px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333;
  margin: 0; }

h1 {
  font-size: 4em;
  margin-top: 50px; }

h3 {
  margin-bottom: 20px; }
  h3 .currentPlayerColor {
    color: pink; }

h4 {
  font-size: 3em;
  margin-bottom: 10px; }

p {
  color: #646464; }

.main {
  padding: 50px 0; }

.players {
  margin-top: 50px; }

.player {
  display: inline-block; }

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: 0 12px;
  position: relative; }
  .circle img {
    position: absolute;
    left: -10px;
    top: -14px; }

.small-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: 0 12px;
  position: relative; }

.answer-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: 0 12px;
  position: absolute;
  top: 4px; }

.big-circle {
  display: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  background: #005b7f;
  position: absolute;
  right: 2%;
  top: 2%;
  color: white;
  -ms-transform: rotate(32deg);
  /* IE 9 */
  -webkit-transform: rotate(32deg);
  /* Chrome, Safari, Opera */
  transform: rotate(32deg);
  cursor: pointer; }
  @media (min-width: 970px) {
    .big-circle {
      display: block; } }
  .big-circle p {
    color: white;
    width: 74px;
    padding-top: 46px;
    padding-left: 36px; }

li {
  position: relative;
  list-style: none; }
  li button {
    position: relative; }
  li button.wrong:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: all 1s;
    -webkit-transition: all 1s;
    z-index: 100; }
  li button.wrong:hover, li button.correct:hover {
    color: white; }
  li:first-child button {
    background-color: #39b54a; }
  li:nth-child(2) button {
    background-color: #00a99d; }
  li:nth-child(3) button {
    background-color: #f26d7d; }
  li:nth-child(4) button {
    background-color: #f68e56; }
  li button {
    width: 250px;
    color: white;
    font-size: 20px; }

.mobile {
  font-size: 2em; }
  .mobile button, .mobile input {
    width: 80%;
    display: block;
    margin: 10px auto; }
  .mobile li button {
    width: 100%; }

.ready-button {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
  padding: 50% 0;
  border-radius: 50%;
  color: white;
  background: #c61f1f;
  font-size: 3em;
  font-weight: bold;
  border: 2px solid #b01c1c; }
  .ready-button:active, .ready-button.active {
    background-color: #b01c1c;
    border: 2px solid #9a1818; }
  .ready-button p {
    margin-top: 30%;
    color: white; }
