<div>
    <div class="circle" ng-class="{'pink' : currentPlayer.color == 'pink', 'blue' : currentPlayer.color == 'blue' , 'green' : player.color == 'green'}"></div>
    <h3 >{{questions[0].partOne}}<span class="pink-text">{{currentPlayer.name}}'s</span>{{questions[0].partTwo}}</h3>
    <h3>{{currentQuestion.formattedQuestion}}</h3>
    <ul>
        <li ng-repeat="option in questions[0].options">
            <button>{{option}}</button>
        </li>
    </ul>
    <p>Camilla and Mikaela has answered.</p>

</div>
